:root {
  --noto-sans: "Noto Sans KR", sans-serif;
  --iscocp: "ISOCP", ISCOP;
  --mont: "Montserrat", sans-serif;

  --white: white;
  --black: black;
  --gray: #ccc;
  --pink: rgb(224, 82, 165);
}
html {
  font-size: 62.5%;
}
@font-face {
  font-family: ISOCP;
  src: url(/font/ISOCP.ttf);
  src: local(※), url(/font/ISOCP.ttf) format(‘ttf’);
}
header {
  position: relative;
}

.ham-a {
  text-decoration: none;
  color: black;
  font-family: var(--iscocp);
}

.mobile_btn {
  z-index: 1002;
  position: absolute;
  top: 4rem;
  left: 4rem;
}

input[id="hamburger"] {
  display: none;
}
input[id="hamburger"] + label {
  display: block;
  width: 6rem;
  height: 4rem;
  position: relative;
  cursor: pointer;
}
input[id="hamburger"] + label span {
  display: block;
  position: absolute;
  width: 100%;
  height: 0.5rem;
  border-radius: 3rem;
  background: var(--white);
  transition: all 0.35s;
}
input[id="hamburger"] + label span:nth-child(1) {
  top: 0;
}
input[id="hamburger"] + label span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
input[id="hamburger"] + label span:nth-child(3) {
  bottom: 0;
}
input[id="hamburger"]:checked + label {
  z-index: 99;
}
input[id="hamburger"]:checked + label span {
  background: black;
}
input[id="hamburger"]:checked + label span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
input[id="hamburger"]:checked + label span:nth-child(2) {
  opacity: 0;
}
input[id="hamburger"]:checked + label span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}
div[class="sidebar"] {
  width: 100%;
  height: 100%;
  background: white;
  position: fixed;
  top: 0;
  left: -100%;
  z-index: 98;
  transition: all 0.35s;
}

input[id="hamburger"]:checked + label + div {
  left: 0;
}

.nav_mobile {
  position: absolute;
  top: 11.9rem;
  width: 100%;
}
.ham-logo {
  font-weight: 700;
  line-height: 1.5;
  font-family: var(--iscocp);
}
.sidebar .nav_mobile li {
  color: black;
  position: relative;
  float: left;
  width: 100%;
  list-style-type: none;
  font-size: 5rem;
  border-bottom: 0.1rem solid #ccc;
  font-family: var(--mont);

  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  font-weight: 700;
  line-height: 1.5;
}

.sidebar a {
  padding: 0;
  text-decoration: none;
  display: block;
}

.sidebar li a {
  display: block;
  line-height: 4rem;
  margin: 0px;
  padding: 0;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s;
}

.sidebar li a:hover {
  text-decoration: none;
  color: #eee;
  padding: 0;
  margin: 0;
  border: 0px;
}

.title {
  padding-top: 1rem;
  text-align: center;
  width: 10%;
  height: 5rem;
  position: absolute;
  z-index: 1001;
  font-family: var(--iscocp);
  font-size: 2.4rem;
  background-color: rgb(224, 82, 165);

  color: white;
}
.menu-sub {
  font-size: 3.5rem;
  font-weight: normal;
}
/* 여기서부터 섹션 */
.title {
  padding-top: 1rem;
  text-align: center;
  width: 10%;
  height: 5rem;
  position: absolute;
  z-index: 1001;
  font-family: var(--iscocp);
  font-size: 2.4rem;
  background-color: rgb(224, 82, 165);

  color: white;
}
.title-design {
  position: relative;
  text-align: center;
  font-family: var(--noto-sans);
  font-size: 4rem;
}
.photoshop-title-bg {
  width: 100%;
  height: 30rem;
  color: var(--white);
}
.photoshop-title-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--ptstext);
  font-size: 10rem;
}
.photoshop-container {
  width: 65%;
  margin: 0 auto;
}
.grid-title {
  margin-bottom: 1rem;
  margin-top: 10rem;
  font-size: 3rem;
  font-family: var(--noto-sans);
}
.border {
  border: 0.1rem solid var(--gray);
  background-color: linear-gradient(black, gray);
  background-image: linear-gradient(black, gray);
  margin-bottom: 5rem;
}
.mob-web-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  object-fit: cover;
  gap: 5rem;
}

.web-img {
  width: 100%;
}

.magazine-grid {
  width: 100%;
  gap: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .img-mag {
    width: 100%;
    height: 100%;
  }
}

.and-grid {
  width: 100%;
  gap: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.and-img {
  width: 100%;
  height: 100%;
}

.grid-div {
  margin-bottom: 5rem;
}
